<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{LABEL}}</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>{{KIT_ROOT}}/scripts/garden-reminder.sh</string>
        <string>run</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{WIKI_ROOT}}</string>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>{{HOUR}}</integer>
        <key>Minute</key>
        <integer>{{MINUTE}}</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/garden-reminder-stdout.log</string>

    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/garden-reminder-stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{PATH}}</string>
        <key>HOME</key>
        <string>{{HOME}}</string>
        <key>WIKI_DIR</key>
        <string>{{WIKI_ROOT}}</string>
        <key>WIKI_UV_BIN</key>
        <string>{{UV_BIN}}</string>
        <key>WIKI_NOTIFIER_BIN</key>
        <string>{{NOTIFIER_BIN}}</string>
        <key>WIKI_SCHEDULER_HINT</key>
        <string>{{SCHEDULER_HINT}}</string>
    </dict>
</dict>
</plist>
